@font-face {
  font-family: 'Proxima Nova';
  src: url(/fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(/fonts/ProximaNova-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  src: url(/fonts/Bitter-Regular.ttf);
}
@font-face {
  font-family: 'Bitter';
  font-weight: bold;
  src: url(/fonts/Bitter-Bold.ttf);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Proxima Nova', Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 0.05em;
  z-index: 0;
}
a {
  transition: all 200ms ease-in-out;
}
header {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}
header > .fixed {
  height: 100%;
  width: 100%;
  background-color: #0fb8e8;
  position: fixed;
  z-index: 0;
}

#nav {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 30px 40px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  z-index: 1000;
}

#nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.7em;
  color: rgba(255,255,255,0.6);
  border-bottom: 5px solid transparent;
}

#nav a:hover {
  border-bottom: 5px solid;
  color: #FFF;
}
#headerbg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#metropolis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/buildings.png);
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#logo {
  width: 70%;
}

#headerContent {
  position: absolute;
  z-index: 100;
  padding-top: 10%;
  width: 100%;
}

#logoSubtext {
  margin-top: -1%;
  margin-left: 12%;
}

.subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}

#signupButtons {
  margin-top: 2%;
  margin-left: 12%;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#signupButtons .btn {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 30px;
  border-radius: 100px;
  padding: 10px 30px;
}

section {
  padding: 50px 0px;
}

#about {
  text-align: center;
  font-size: 40px;
  position: relative;
  padding: 200px 0px;
  color: #FFF;
  background: transparent;
}

#about h1 {
  font-size: 80px;
  font-family: 'Bitter', serif;
  font-weight: bold;
  margin-bottom: 30px;
}
#about p {
  font-size: 25px;
}

#faq {
  background-color: #ff8a18;
  padding-bottom: 100px;
}
#faq p {
  color: #FFCE8D;
}

#faq h2, #faq h3 {
  color: #fff;
}
#faq h2 {
  border-color: #FF9936;
}
#faq a {
  color: #FFF;
}
#faq a:hover {
  color: #FFE9D4;
  text-decoration: none;
}

#sponsors h2 {
  border-color: #aaa;
  color: #aaa;
  padding: 20px 0;
}

section {
  z-index: 20;
  background: #f0f0f0;
  position: relative;
}

section h2 {
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 9px solid;
  padding: 30px 0;
  margin-bottom: 30px;
  display: inline-block;
}

section h3 {
  font-size: 30px;
  font-family: 'Bitter', serif;
  font-weight: bold;
  margin: 20px 0;
}
section h4 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.btn {
  border: none;
}
.btn:hover {
  border: none;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
  transition: all 200ms ease-in-out;
}
.btn-orange {
  background-color: #ff8a18;
  border-color: #ff8107;
}

.btn-orange:hover {
  background-color: #ff9f41;
}

.btn-blue {
  background-color: #175b82;
  border-color: #0a5682;
}

.btn-blue:hover {
  background-color: #1e6b98;
}

.greyed {
  opacity: 1 !important;
  color: #bbb;
  background: #ddd;
}
.greyed:hover {
  color: #bbb;
  background: #ddd;
  cursor: initial;
}

footer {
  padding: 20px 0px;
  background-color: #F0F0F0;
  text-align: center;
  color: #bbb;
  font-size: 14pt;
  position: relative;
}

footer a {
  color: #ff9f41;
}

footer a:hover {
  text-decoration: none;
  color: #FFB66E;
}
footer p {
  display: inline-block;
}

#social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social li {
  display: inline;
  margin: 0px 8px;
}
@media (max-width: 750px) {
  #logo {
    width: 100%;
  }
  .subtitle {
    font-size: 15px;
  }
  #headerContent {
    padding-top: 50%;
  }
  #signupButtons {
    margin-left: 0;
    text-align: center;
  }
  #signupButtons .btn {
    margin: 10px 0 !important;
  }
  #about h1 {
    font-size: 30px;
  }
  #about p {
    font-size: 20px;
  }
  #faq p {
    margin-bottom: 30px;
  }
}
hr {
  border-bottom: 2px solid #ddd;
  width: 80%;
}

#sponsors img {
  margin: 20px;
  max-height: 100px;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
#sponsors .partner img {
  max-height: 150px;
}
#sponsors .gold img {
  max-height: 120px;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}
#sponsors .trench img {
  opacity: 0.5;
}
#sponsors h3 {
  color: #666;
  border-bottom: 4px solid;
  line-height: 60px;
  display: inline-block;
  text-align: center;
}
#sponsors .filler {
  margin: 120px 0;
  color: #ddd;
}
#sponsors img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
  opacity: 1;
}
