@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: Montserrat, Verdana, sans-serif;
}

header {
  height: 100%;
  width: 100%;
  background-color: #0fb8e9;
}

#nav {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 30px 40px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  z-index: 1000;
}

#nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

#nav a:hover {
  text-decoration: underline;
}

#metropolis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/buildings.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#logo {
  width: 70%;
}

#headerContent {
  position: absolute;
  z-index: 100;
  padding-top: 10%;
  width: 100%;
}

#logoSubtext {
  margin-top: -1%;
  margin-left: 12%;
}

.subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}

#signupButtons {
  margin-top: 3%;
}

#signupButtons a.btn {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  padding: 20px 30px;
}

section {
  padding: 50px 0px;
}

#about p {
  text-align: center;
  font-size: 40px;
}

#about {
   position: relative;
   padding: 200px 0px;
}

#about:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/logo.png) no-repeat center;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

#faq {
  background-color: #ff8a18;
}

#faq h1 {
  color: #fff;
}

section h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 90px;
  margin-bottom: 50px;
}

section h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.btn-orange {
  background-color: #ff8a18;
  border-color: #ff8107;
}

.btn-orange:hover {
  background-color: #ff9f41;
}

.btn-blue {
  background-color: #175b82;
  border-color: #0a5682;
}

.btn-blue:hover {
  background-color: #1e6b98;
}

footer {
  padding: 50px 0px;
  background-color: #175b82;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

footer a {
  color: #ff9f41;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

#social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social li {
  display: inline;
  margin: 0px 8px;
}
